bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/Demo.Kodez.Customers.Identity.Api/v17/

.vs/Demo.Kodez.Customers.Identity.Api/DesignTimeBuild/

.vs/Demo.Kodez.Customers.Identity.Api/project-colors.json
