name: $(Date:yyyyMMdd).$(Rev:r)

trigger:
  batch: true
  branches:
    include:
    - main
    - feature/*

  paths:
    exclude:
     - doc
     - ReadME.md

pr:
  branches:
    include:
    - main
  

variables:
- name: vmImage
  value: 'Default'
- name: platform
  value: 'any cpu'  
- name: platformConfiguration
  value: 'release'
- name: NUGET_PACKAGES
  value: ''
- name: solution
  value: '**/*.sln'

stages:
- stage: Build
  jobs:
  - job: 'Build'
    pool:
      name: 'Default'
      # vmImage: ${{variables.vmImage}}
    steps:
    - template: 'build.yml'
      parameters:        
        projectFiles: '**/*.csproj'
        buildPlatform: $(platform)
        buildConfiguration: $(platformConfiguration)

- stage: DEV
  dependsOn: ["Build"]
  jobs:
    - deployment: DEV
      variables: 
        - template: "Variables/common.yml"      
        - template: "Variables/dev.yml"
      pool:
        name: 'Default'
        # vmImage: ${{variables.vmImage}}
      environment: DEV
      strategy:
        runOnce:
          deploy:
            steps:
              - template: "deploy.yml"
                parameters:
                  buildNumber: $(Build.BuildNumber)            